html/
build/
*.dat
plotdes
qpsk
qpsk_v
test_auto_corr
test_cmat
test_ddfse
test_dump
test_elliptic_allpass
test_filters
test_fir2
test_iir
test_iir2nd
test_interp
test_mlse
test_notch
test_q
test_rls
test_roots
test_smart_test
